.form-section{
    width: 100%;
    background-image: linear-gradient(rgba(129, 119, 119, 0.5), rgba(0, 0, 0, 0.5)), url('/public/assets/bg1.png');
    height: 55vh;
    background-size: cover;
}
.form-section-inner{
    width: 80%;
    margin: 0 auto;
}
.form-section-outter{
    padding: 20px;
}


.form-trade-inner{
    display: inline-block;
    margin:10px;
    color:white;
}
.form-section-text{
 color: white;
 padding: 20px;
 position: absolute;
 bottom: 0px;
}

.form-section-text{
    position: relative;
}

.form-section-text-inner{
    position: absolute;
    bottom: 0px;
    text-align: left;
}

.form-section-text{
    position: relative;
    width: 50%;
    float: right;
    height: 50vh;
}


@media screen and (max-width: 768px) {

    .form-section-outter{
        padding: 0px;
    }
    .form-section-inner{
        width: 100%;
        margin: 0 auto;
    }

    .form-section-form {
        width: 100%;
        height: 50vh;
        background: white;
        border-radius: 0px;
        padding: 20px;
        position: absolute;
        z-index: 100000;
    }

    .form-section-text{
        position: absolute;
        width: 100%;
        background-image: linear-gradient(rgba(129, 119, 119, 0.5), rgba(0, 0, 0, 0.5)), url('/public/assets/bg1s.png');
        background-size: cover;
    }
}

